<p>forget-password works!</p>


<ng-container >

  <form action="">
<div class="container">
  <div class="text-center">
     Lock Icon
    <i  icon ="faLock" class="fa-3x"></i>
  </div>
   <h1 class="text-center">Welcome</h1>

    <input type="email" name="" id="" placeholder="Email" class="formcontrol">

    <input type="submit" value="submit" style="color: black; background-color: cadetblue;">
   ohh i rememberd back to <a routerLink="../login"> login-page</a>
  </div>
  </form>
</ng-container>
